.absolute {
  position: absolute
}

.mt-6 {
  margin-top: 1.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.border {
  border-width: 1px
}

.p-6 {
  padding: 1.5rem
}

.pt-6 {
  padding-top: 1.5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}
